<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd">
    
    <bean id="studentEnrollmentService" class="aop5.StudentEnrollmentService" />
    <bean id="studentExamService" class="aop5.StudentExamService" />

    <bean id="logService" class="aop5.LogAspect" />
    
    <aop:config>
        <aop:aspect ref="logService">
            <aop:pointcut
                id="service"
                expression="execution(* *(..)) &amp;&amp; within(aop5.*Service)"/>
            
            <aop:around
                method="log"
                pointcut-ref="service" />
        </aop:aspect>
    </aop:config>
</beans>
